/.idea/
/cmake-build-debug/CMakeFiles/
/cmake-build-debug/Testing/Temporary/
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/libFLAC-8.dll
/cmake-build-debug/libfreetype-6.dll
/cmake-build-debug/libjpeg-9.dll
/cmake-build-debug/libmodplug-1.dll
/cmake-build-debug/libogg-0.dll
/cmake-build-debug/libpng16-16.dll
/cmake-build-debug/libtiff-5.dll
/cmake-build-debug/libvorbis-0.dll
/cmake-build-debug/libvorbisfile-3.dll
/cmake-build-debug/libwebp-4.dll
/cmake-build-debug/Makefile
/cmake-build-debug/Minesweeper.cbp
/cmake-build-debug/Minesweeper.exe
/cmake-build-debug/player.txt
/cmake-build-debug/save.txt
/cmake-build-debug/SDL2.dll
/cmake-build-debug/SDL2_image.dll
/cmake-build-debug/SDL2_mixer.dll
/cmake-build-debug/SDL2_ttf.dll
/cmake-build-debug/smpeg2.dll
/cmake-build-debug/zlib1.dll
